@import "flexlayout-react/style/light.css";

.App {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    overflow: hidden;
}
.panel {
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    border:1px solid #555;
    box-sizing: border-box;
}
