body {
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .react-flow .react-flow__handle {
    width: 2vh;
    height: 1vh;
  
    background-color: #aeaeaec4;
  }
  
  .react-flow .react-flow__handle:hover {
    background-color: #aeaeae;
  }

  .react-flow .react-flow__handle-top {
    top: 0vh;
    border-radius: 0 0 1vh 1vh;
    
  }
  
  .react-flow .react-flow__handle-bottom {
    bottom: 0vh;
    border-radius: 1vh 1vh 0 0;
  }

  .react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}